/build/
/dist/
/out/
/data/
.ini
*.properties
config.ini
channel.ini
commands.txt
giveaway-done.txt
giveaway-gamelist.txt
accounts.txt
quotes.txt
channels/
commands.ser
/Snip/
/oldVersions
/backup/
/Essential Now Playing/
drunklog*
test/
.idea/workspace.xml
DrunkBot.jar
data - Copy/
